# Local credentials
credentials.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints/

# IDEs and OS files
.vscode/
.idea/
.DS_Store

# Environment files
.env
